/* <i class="fa-solid fa-sun"></i> */
/* <i class="fa-solid fa-cloud-sun-rain"></i> */
/* <i class="fa-solid fa-cloud-meatball"></i> */
/* <i class="fa-solid fa-cloud-showers-heavy"></i> */
/* <i class="fa-solid fa-wind"></i> */

:root {
  font-size: 62.5%;
}

::selection {
  color: #f1a966;
  background-color: #666999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #777888; /* #0f9b8e  */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #e6f51e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 30px 0;
}

.heading {
  font-size: 6rem;
  font-weight: 200;
  color: white;
  letter-spacing: 4px;
  text-decoration: none;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.box-1 {
  padding: 1vw;
  margin: 0 5vw;
}

.temp__info {
  padding: 0 1vw;
  margin: 0 1.2vw;
}

p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

i {
  font-size: 5rem;
}

@media screen and (max-width: 680px) {
  body {
    background-color: black;
    height: 70vh;
  }

  i {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .heading {
    font-size: 3.6rem;
  }

  .temp__info {
    padding: 0 0.7vw;
    margin: 0 0.8vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-2 p {
    margin: 2vh 8vw;
  }
}

@media screen and (max-width: 350px) {
  .heading {
    font-size: 2.8rem;
  }

  .section-2 p {
    margin: 2vh 6vw;
  }
}
